@page "/weeklyreport/{seasonId:int}/{weekId:int}"
@inject FantasyApiService MyApiService
@inject IJSRuntime MyJSRuntime;
@*<h1>Weekly Report</h1>*@

@if (Teams == null)
{
    <p><em>Retrieving boxscores...</em></p>
}
else
{
    @*Check https://dribbble.com/shots/14517208-Clivlend-Team-Ticket-Distributor for design inspiration*@
    <div id="boxscores">
        @foreach (var boxscore in Teams.CreateBoxScores())
        {
            <div class="border-2 border-red-800 m-4 p-2 flex flex-col gap-1 bg-white w-9/12 md:w-1/2 lg:w-1/4">
                <div class="flex items-center gap-3">
                    <img src="@boxscore.Team1.Team.LogoURL" alt="team logo" class="w-14 h-14 rounded-lg" />
                    <div class="flex-grow">@boxscore.Team1.Team.Name</div>
                    <div class="font-bold">@boxscore.Team1.Score</div>
                </div>
                <div class="flex items-center gap-3">
                    <img src="@boxscore.Team2.Team.LogoURL" alt="team logo" class="w-14 h-14 rounded-lg" />
                    <div class="flex-grow">@boxscore.Team2.Team.Name</div>
                    <div class="font-bold">@boxscore.Team2.Score</div>
                </div>
            </div>
        }
    </div>

    <div class="flex flex-col px-4 bg-white">
        <h2 class="font-semibold text-xl mb-2">Rankings</h2>
        <div class="md:mx-8">
            <TabSet>
                <Tab Title="Team Awards">
                    <table class="table-fixed">
                        <thead>
                            <tr>
                                <th class="hidden">Icon</th>
                                <th class="hidden">Category</th>
                                <th class="hidden">Team(s)</th>
                                <th class="hidden">Score</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="border-green-600 border-l-4">
                                <td class="py-8 px-4">👑</td>
                                <td class="px-4">Highest Scorer</td>
                                <td class="px-4"> @string.Join(", ", HighScoreTeam.Select(x => x.Team.Name))</td>
                                <td class="text-right px-4">@HighScoreTeam.First().Score pts</td>
                            </tr>
                            <tr class="border-yellow-600 border-l-4">
                                <td class="py-8 px-4">🍀</td>
                                <td class="px-4">Most Unlucky</td>
                                <td class="px-4">@string.Join(", ", UnluckyTeam.Select(x => x.Team.Name))</td>
                                <td class="text-right px-4">@UnluckyTeam.First().Score to @Teams.FindById(UnluckyTeam.First().OpposingTeamId).Score</td>
                            </tr>
                            <tr class="border-green-600 border-l-4">
                                <td class="py-8 px-4">💪</td>
                                <td class="px-4">Most Dominant Win</td>
                                <td class="px-4">@string.Join(", ", DominantTeam.Select(x => x.Team.Name))</td>
                                <td class="text-right px-4">+@Teams.GetMarginalScoreForTeam(DominantTeam.First().Team.Id) pts</td>
                            </tr>
                            <tr class="border-yellow-600 border-l-4">
                                <td class="py-8 px-4">📏</td>
                                <td class="px-4">Narrowest Loss</td>
                                <td class="px-4">@string.Join(", ", NarrowLossTeam.Select(x => x.Team.Name))</td>
                                <td class="text-right px-4">@Teams.GetMarginalScoreForTeam(NarrowLossTeam.First().Team.Id) pts</td>
                            </tr>
                        </tbody>
                    </table>

                </Tab>
                <Tab Title="Player Awards">
                    <table class="table-fixed">
                        <thead>
                            <tr>
                                <th class="hidden">Icon</th>
                                <th class="hidden">Position</th>
                                <th class="hidden">Score</th>
                                <th class="hidden">Player(s)</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="border-green-600 border-l-4">
                                <td class="py-8 px-4">🔥</td>
                                <td class="px-4">QB</td>
                                <td class="px-4">@TopQB.First().BoxScore.TotalPoints pts</td>
                                <td class="text-right px-4">@string.Join(", ", TopQB.Select(x => $"{x.BoxScore.Player.FullName} ({x.FantasyTeam.Name})"))</td>
                            </tr>
                            <tr class="border-green-600 border-l-4">
                                <td class="py-8 px-4">🔥</td>
                                <td class="px-4">RB</td>
                                <td class="px-4">@TopRB.First().BoxScore.TotalPoints pts</td>
                                <td class="text-right px-4">@string.Join(", ", TopRB.Select(x => $"{x.BoxScore.Player.FullName} ({x.FantasyTeam.Name})"))</td>
                            </tr>
                            <tr class="border-green-600 border-l-4">
                                <td class="py-8 px-4">🔥</td>
                                <td class="px-4">WR</td>
                                <td class="px-4">@TopWR.First().BoxScore.TotalPoints pts</td>
                                <td class="text-right px-4">@string.Join(", ", TopWR.Select(x => $"{x.BoxScore.Player.FullName} ({x.FantasyTeam.Name})"))</td>
                            </tr>
                            <tr class="border-green-600 border-l-4">
                                <td class="py-8 px-4">🔥</td>
                                <td class="px-4">TE</td>
                                <td class="px-4">@TopTE.First().BoxScore.TotalPoints pts</td>
                                <td class="text-right px-4">@string.Join(", ", TopTE.Select(x => $"{x.BoxScore.Player.FullName} ({x.FantasyTeam.Name})"))</td>
                            </tr>
                            <tr class="border-green-600 border-l-4">
                                <td class="py-8 px-4">🔥</td>
                                <td class="px-4">DST</td>
                                <td class="px-4">@TopDST.First().BoxScore.TotalPoints pts</td>
                                <td class="text-right px-4">@string.Join(", ", TopDST.Select(x => $"{x.BoxScore.Player.FullName} ({x.FantasyTeam.Name})"))</td>
                            </tr>
                            <tr class="border-green-600 border-l-4">
                                <td class="py-8 px-4">🤔</td>
                                <td class="px-4">K</td>
                                <td class="px-4">@TopK.First().BoxScore.TotalPoints pts</td>
                                <td class="text-right px-4">@string.Join(", ", TopK.Select(x => $"{x.BoxScore.Player.FullName} ({x.FantasyTeam.Name})"))</td>
                            </tr>
                            <tr class="border-green-600 border-l-4">
                                <td class="py-8 px-4">💺</td>
                                <td class="px-4">Bench</td>
                                <td class="px-4">@TopBench.First().BoxScore.TotalPoints pts</td>
                                <td class="text-right px-4">@string.Join(", ", TopBench.Select(x => $"{x.BoxScore.Player.FullName} ({x.FantasyTeam.Name})"))</td>
                            </tr>
                        </tbody>
                    </table>

                </Tab>
                <Tab Title="Gooses">
                    <table class="table-fixed">
                        <thead>
                            <tr>
                                <th class="hidden">Icon</th>
                                <th class="hidden">Position</th>
                                <th class="hidden">Player Name</th>
                                <th class="hidden">Team</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var player in GoosePlayers)
                            {
                                <tr class="border-green-600 border-l-4">
                                    <td class="py-8 px-4">🦢</td>
                                    <td class="px-4">@player.BoxScore.Position</td>
                                    <td class="px-4">@player.BoxScore.Player.FullName</td>
                                    <td class="text-right px-4">@player.FantasyTeam.Name</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </Tab>
            </TabSet>
        </div>
    </div>
}


@code {
    [Parameter]
    public int SeasonId { get; set; }
    [Parameter]
    public int WeekId { get; set; }

    private IEnumerable<TeamForWeek> Teams;
    private IEnumerable<TeamForWeek> HighScoreTeam;
    private IEnumerable<TeamForWeek> UnluckyTeam;
    private IEnumerable<TeamForWeek> DominantTeam;
    private IEnumerable<TeamForWeek> NarrowLossTeam;
    private IEnumerable<PlayerForWeek> TopQB;
    private IEnumerable<PlayerForWeek> TopRB;
    private IEnumerable<PlayerForWeek> TopWR;
    private IEnumerable<PlayerForWeek> TopTE;
    private IEnumerable<PlayerForWeek> TopDST;
    private IEnumerable<PlayerForWeek> TopK;
    private IEnumerable<PlayerForWeek> TopBench;
    private IEnumerable<PlayerForWeek> GoosePlayers;

    protected override async Task OnInitializedAsync()
    {
        Task<List<TeamForWeek>> taskA = MyApiService.GetAllTeamsForWeek(SeasonId, WeekId);
        await taskA.ContinueWith(x =>
        {
            Teams = x.Result;
        });

        HighScoreTeam = Teams.GetHighestScoring();
        UnluckyTeam = Teams.GetUnluckiestLoss();
        DominantTeam = Teams.GetDominantVictory();
        NarrowLossTeam = Teams.GetNarrowestLoss();
        TopQB = Teams.GetTopScoringQB();
        TopRB = Teams.GetTopScoringRB();
        TopWR = Teams.GetTopScoringWR();
        TopTE = Teams.GetTopScoringTE();
        TopDST = Teams.GetTopScoringDST();
        TopK = Teams.GetTopScoringK();
        TopBench = Teams.GetTopScoringBenchPlayer();
        GoosePlayers = Teams.GetZeroPointStarters();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // This will run both before our API call completes and after, we need to make sure to only apply Flickity after
        // NOTE: per MSDN JS libraries that modify the DOM are unsafe when they interact with DOM elements provided by
        // Blazor - we probably shouldn't do this if the Teams is ever expected to change after the 1st API call
        if (Teams != null)
        {
            await MyJSRuntime.InvokeVoidAsync("flickity.init", "boxscores");
        }
    }
}